.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  @include flex($ai: null);
}
.clients__item {
  width: 170px;
  height: 92px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  @include flex();
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms var(--effect-cubik),
    border-color 250ms var(--effect-cubik);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
}
